html {
  font-family: "Montserrat", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background-clip: border-box;
  letter-spacing: 0.1rem;
  font-weight: 400;
  margin: 0px;
  background-color: #00243f;
  /* */
}
button {
  outline: none;
}
h3,
qa-hether {
  width: fit-content;
  font-weight: 700;
  color: #a3acb1;
  margin-top: 1em;
  margin-right: auto;
  margin-bottom: 0.75em;
  margin-left: auto;
}
#main-wrapper {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  font-weight: bold;
  color: #a3acb1;
}
div {
  /*outline: 2px solid blue;*/
  width: 100%;
  background-clip: border-box;
}
hr {
  /*#325c2eed
  */
  border: 1px solid #325c2eed;
}
.divider2 {
  margin-top: 1em;
}
.divider1 {
  margin-top: 0em;
}
ul {
  /* outline: 2px solid blue; */
  list-style: none;
  width: 100%;
  background-clip: border-box;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-right: 0px;
  margin-right: 0px;
  padding-inline-start: 0em;
}
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  /*  */
  margin-inline-start: 0px;
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#oneOf3TopRelevantSearches {
  /*  */
  justify-content: space-between;
}
#search-box {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 1em;
}
#app-name {
  font-size: 5vw;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

#app-tittle {
  /* width: 90%; */
  display: flex;
  margin: 2em auto;
  margin-bottom: 1em;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
/*,
#search*/
#addCredential,
#editCredential {
  display: block;
  width: 3.3em;
  height: 3.3em;
  border-radius: 0.75em;
  background-color: #a3acb1;
  border: 1px solid #00243f;
}
#plus-icon,
#pencil-icon {
  font-size: 2.2em;
  color: #00243f;
  background-color: #a3acb1;
}
#search-bar {
  display: block;
  text-align: 0 auto;
  border: 1px solid #a3acb1;
  border-radius: 0.3em;
  width: 67%;
  height: 2em;
  /* text-transform: capitalize; */
  font-size: 1.2em;
  font-weight: 400;
  background-color: #00243f;
  color: #a3acb1;
}
#search-bar::placeholder {
  /*color: #858550;
  */
  color: #a3acb1;
}
/*
#search-icon {
  
  color: #A3ACB1;
  color: #00243f;
  font-size: 2em;
  color: #A3ACB1;
  background-color: #A3ACB1;
}
*/

#matches {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1em;
}
#best-match-site,
#middle-match-site,
#lowest-match-site {
  background-color: #26394d;
  color: #a3acb1;
  font-size: 0.8em;
  width: 90%;
  margin-top: auto;
  margin-bottom: 0em;
}
#details,
#qs-and-as,
#answers {
  /*  */
  width: 95%;
  margin: 0 auto;
}

/* #details,
#qs-and-as,
#answers {
  display: none;
} */

/*
.text-input-field {
  color: #583b0c;
}
*/
/* VOY POR AQUI CON LOS COLORES */
button.a-boxbox-button,
#best-eyes-button,
#middle-eyes-button,
#lowest-eyes-button {
  /* padding-top: 0px; */
  display: block;
  height: 0.5em;
  margin-left: 0.5em;
  border-radius: 0.3em;
  background-color: #a3acb1;
  border: 1px solid #00243f;
  height: fit-content;
}
#warning-icon {
  font-size: 1.5em;
  color: #ffd517;
}
#warning-text {
  font-size: 0.75em;
}
#first-usage-warning {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 0.4em;
  border: 1px solid #b67929;
  line-height: 0.5em;
  border-radius: 0.2em;
}

#debug-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.25em;
  width: 100%;
}

#search-indicator,
#view-indicator,
#add-indicator,
#edit-indicator {
  font-size: 1em;
  border: 1px solid #00243f;
  border-radius: 50%;
}
#mode-indicators {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.25em;
  width: 60%;
}
.eyes-icon {
  font-size: 1.3em;
  color: #00243f;
  background-color: #a3acb1;
  font-weight: 700;
}

#mode-icon-search,
#mode-icon-view,
#mode-icon-edit,
#mode-icon-create {
  color: #00243f;
  background-color: #a3acb1;
  border: 1px solid #00243f;
  border-radius: 0.3em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  padding: 0em;
}
#cancel-changes,
#save-new-or-edited,
#delete-credential {
  /* */
  display: block;
  background-color: #a3acb1;
  border: 1px solid #325c2eed;
  border-radius: 0.3em;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.25em 0.25em;
  padding: 0.5;
}
#cancel-changes {
  color: #00243f;
  font-size: 1.6em;
}
#save-new-or-edited {
  color: #015e01;
}

#edit-toolbar {
  /*  outline: 2px solid red; */

  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  height: 3em;
}
#delete-credential {
  color: red;
  /* margin-right: 2.75em; */
}
#save-new-or-edited {
  margin-right: 2.75em;
}
.designator {
  display: block;
  width: fit-content;
  text-transform: uppercase;
  font-size: 0.7em;
  margin-top: auto;
  margin-bottom: 0em;
}
#name,
#website,
#email,
#username,
#password,
#pin,
#recovery-email,
#secret-image,
#question0,
#question1,
#question2,
#question3,
#question4,
#question5,
#question6,
#question7,
#question8,
#question9,
#answer0,
#answer1,
#answer2,
#answer3,
#answer4,
#answer5,
#answer6,
#answer7,
#answer8,
#answer9 {
  /* */
  background-color: #26394d;
  color: #a3acb1;
  display: block;
  font-size: 0.6em;
  font-weight: normal;
  width: fit-content;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 0em;
}
#revert-Notification {
  color: #b67929;
  width: 60%;
  margin: 0 auto;
  display: none;
}
.a-boxbox-icon {
  /*  */
  font-size: 1.5em;
  color: #00243f;
  background-color: #a3acb1;
}
