html {
  font-family: "Montserrat", sans-serif;
}
body {
  width: 100vw;
  background-clip: border-box;
  letter-spacing: 0.1rem;
  font-weight: 400;
  margin: 0px;
  background-color: #2c5828ed;
  /* */
}
button {
  outline: none;
}
h3,
h5 {
  width: fit-content;
  font-weight: 700;
  color: white;
  margin-top: 1em;
  margin-right: auto;
  margin-bottom: 0.75em;
  margin-left: auto;
}
#main-wrapper {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  font-weight: bold;
  color: white;
}
div {
  /*outline: 2px solid blue;*/
  width: 100%;
  background-clip: border-box;
}
hr {
  /*#325c2eed
  */
  border: 1px solid #325c2eed;
}
.divider {
  margin-top: 1em;
}
.divider1 {
  margin-top: 0em;
}
ul {
  /* outline: 2px solid blue; */
  list-style: none;
  width: 100%;
  background-clip: border-box;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-right: 0px;
  margin-right: 0px;
  padding-inline-start: 0em;
}
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  /*  */
  margin-inline-start: 0px;
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#close-match {
  /*  */
  justify-content: space-between;
}
#search-box {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 1em;
}
#app-name {
  font-size: 5vw;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

#app-tittle {
  /* width: 90%; */
  display: flex;
  margin: 2em auto;
  margin-bottom: 1em;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
/*,
#search*/
#addCredential,
#editCredential {
  display: block;
  width: 3.3em;
  height: 3.3em;
  border-radius: 0.75em;
  background-color: #608a5dfb;
  border: 1px solid black;
}
#plus-icon,
#pencil-icon {
  font-size: 2.2em;
  color: black;
  background-color: #608a5dfb;
}
#search-bar {
  display: block;
  text-align: 0 auto;
  border: none;
  border-radius: 0.3em;
  width: 67%;
  height: 2em;
  /* text-transform: capitalize; */
  font-size: 1.2em;
  font-weight: 400;
  background-color: white;
  color: #567517;
}
#search-bar::placeholder {
  color: rgb(133, 133, 80);
}
/*
#search-icon {
  
  color: white;
  color: black;
  font-size: 2em;
  color: white;
  background-color: #608a5dfb;
}
*/

#matches {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1em;
}
#best-match-site,
#middle-match-site,
#lowest-match-site {
  background-color: #2c5828ed;
  color: white;
  font-size: 0.8em;
  width: 90%;
  margin-top: auto;
  margin-bottom: 0em;
}
#details,
#qs-and-as,
#answers {
  /*  */
  width: 95%;
  margin: 0 auto;
}
button.icon-button,
#best-eyes,
#middle-eyes,
#lowest-eyes {
  /* padding-top: 0px; */
  display: block;
  height: 0.5em;
  margin-left: 0.5em;
  border-radius: 0.3em;
  background-color: #608a5dfb;
  border: 1px solid black;
  height: fit-content;
}
#warning-icon {
  font-size: 1.5em;
  color: #ffd517;
}
#warning-text {
  font-size: 0.75em;
}
#first-usage-warning {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 0.4em;
  border: 1px solid yellow;
  line-height: 0.5em;
  border-radius: 0.2em;
}
.eyes-icon {
  font-size: 1.3em;
  color: black;
  background-color: #608a5dfb;
  font-weight: 700;
}

#search-mode-icon,
#view-mode-icon,
#edit-mode-icon,
#create-mode-icon {
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.3em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  padding: 0em;
}
#cancel-changes,
#save-changes,
#delete-credential {
  /* */
  display: block;
  background-color: #608a5dfb;
  border: 1px solid #325c2eed;
  border-radius: 0.3em;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.25em 0.25em;
  padding: 0.5;
}
#cancel-changes {
  color: black;
  font-size: 1.6em;
}
#save-changes {
  color: #015e01;
}

#edit-toolbar {
  /*  outline: 2px solid red; */

  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  height: 3em;
}
#delete-credential {
  color: red;
  margin-right: 2.75em;
}

.designator {
  display: block;
  width: fit-content;
  text-transform: uppercase;
  font-size: 0.7em;
  margin-top: auto;
  margin-bottom: 0em;
}
#name,
#website,
#email,
#username,
#password,
#pin,
#recovery-email,
#secret-image,
#question0,
#question1,
#question2,
#question3,
#question4,
#question5,
#question6,
#question7,
#question8,
#question9,
#answer0,
#answer1,
#answer2,
#answer3,
#answer4,
#answer5,
#answer6,
#answer7,
#answer8,
#answer9 {
  /* */
  background-color: #2c5828ed;
  color: white;
  display: block;
  font-size: 0.6em;
  font-weight: normal;
  width: fit-content;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 0em;
}
.boxbox {
  /*  */
  font-size: 1.5em;
  color: black;
  background-color: #608a5dfb;
}
