html {
  font-family: "Montserrat", "sans-serif";
}
body {
  width: 100vmin;
  height: 100vh;
  background-clip: border-box;
  letter-spacing: 0.1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #00243f;
  /* */
}
#qa-heading,
#search-mode-anouncement,
#view-mode-anouncement,
#edit-mode-anouncement,
#create-mode-anouncement {
  width: fit-content;
  font-weight: 700;
  color: #a3acb1;
  margin: auto;
}
h3 {
  font-size: 3.65vmin;
  height: fit-content;
}
#search-mode-anouncement {
  margin-bottom: 1.5vmin;
}
#main-wrapper {
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  font-weight: bold;
  color: #a3acb1;
}
div {
  /*outline: 2px solid blue;*/
  width: 100%;
  background-clip: border-box;
}
hr {
  /*#325c2eed
    border: 1px solid #325c2eed;
  */
  border-top: 1px solid #050a3b;
  border-bottom: 0 solid black;
}
.divider0 {
  margin: 0;
}
.divider2 {
  margin-top: 0;
}
.divider1 {
  margin-top: 0;
}
ul {
  /* outline: 2px solid blue; */
  list-style: none;
  width: 100%;
  background-clip: border-box;
  
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  /*
  margin: 0 auto;
  
  */
}
li {
  margin: 0 auto;
  list-style: none;
  
  padding: 0;
  /* 
  margin-inline-start: 0;
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
   */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#oneOf3TopRelevantSearches {
  /*  */
  justify-content: space-between;
}
#app-name {
  font-size: 5vmin;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

#app-tittle {
  /* width: 90%; */
  display: flex;
  margin: 0 auto;
  margin-top: 0.75em;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#notifications-area {
  /*   outline: 1px solid  yellow */
  outline: 1px solid#16189b;
  margin: 0 auto;
  padding-top: 3px;
  width: 90vmin;
  height: 2.1em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  white-space: pre-wrap;
}
#notifications {
  font-size: 0.8em;
  font-weight: bold;
  color: yellow;
  margin: 0 auto;
}
#erase-values-typed-so-far {
  color: white;
  font-weight: lighter;
  margin: 0 auto;
  display: none;
  /*  width: 60%; color: #b67929*/
}
/*,
#search*/
#addCredential,
#editCredential {
  display: block;
  width: 3.3em;
  height: 3.3em;
  border-radius: 0.75em;
  background-color: #a3acb1;
  border: 1px solid #00243f;
}
#plus-icon,
#pencil-icon {
  font-size: 2.2em;
  color: #00243f;
  background-color: #a3acb1;
}

#search-div {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  border: 2px solid #a3acb1;
  border-radius: 0.3em;
  /* margin-top: 1em; */
}
#search-bar {
  display: block;
  text-align: left;
  border: none;
  height: 3.55vmin;
  /*width: 60%; text-transform: capitalize; border: 1px solid #a3acb1;
  border-radius: 0.3em;*/
  font-size: 1.2em;
  font-weight: 400;
  background-color: #00243f;
  color: #a3acb1;
}
#search-bar::placeholder {
  /*color: #858550;
  */
  font-size: 0.8em;
  font-weight: lighter;
  color: #a3acb1;
}
input[type="text"] {
  padding-left: 0.25em;
}
#clr-search-bar,
#dev-mode-toggle,
#search-mode-toggle {
  margin: auto 0;
  width: fit-content;
  height: fit-content;
  border: 1px solid black;
  border-radius: 0.3em;
  color: red;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #180b44;
}
#clr-search-bar:focus {
  outline: 1px solid transparent ;
}
#clr-search-bar:hover {
  color: white;
  background-color: red;
  outline-color: black;
}
/*color: #a3acb1;*/
#dev-mode-toggle,
#search-mode-toggle {
  color: red;
  background-color: black;
  outline-color: black;
}
#search-mode-toggle {
  color: green;
}
#dev-mode-toggle:hover,
#search-mode-toggle:hover {
  color: green;
}
#search-mode-toggle:hover {
  color: red;
}
#dev-mode-toggle:focus,
#search-mode-toggle:focus {
  outline: 1px solid transparent ;
}
#matches {
  width: 60%;
  margin: 0 auto;
  /*   margin-bottom: 1em; */
}
#best-match-site,
#middle-match-site,
#lowest-match-site {
  background-color: #26394d;
  color: #a3acb1;
  font-size: 1em;
  width: 90%;
  height: 1.5em;
  padding: 0 0 0 0.5em;
  line-height: 1.75em;
  margin-top: auto;
  margin-bottom: 0;
}

#details,
#inputs-qs-and-as {
  /* ,
#answers */
  width: 95%;
  margin: 0 auto;
}

#innerHTML-usual-values,
#innerHTML-qs-and-as {
  /* ,
#view-answers */
  width: 95%;
  margin: 0 auto;
}

/* #details,
#inputs-qs-and-as,
#answers {
  display: none;
} */

/*
.a-text-input-field {
  color: #583b0c;
}
*/
/* VOY POR AQUI CON LOS COLORES */
.a-boxbox-button,
#best-eyes-button,
#middle-eyes-button,
#lowest-eyes-button,
#search {
  /* padding-top: 0px; */
  display: block;
  margin-left: 0.5em;
  border-radius: 0.3em;
  background-color: #a3acb1;
  border: 1px solid #00243f;
  height: fit-content;
}
#warning-icon {
  font-size: 1.5em;
  color: yellow;
}
#warning-text {
  font-size: 0.75em;
}
#first-usage-warning {
  display: block;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-top: 0.3em;
  padding: 0.4em;
  border: 1px solid yellow;
  line-height: 0.4em;
  border-radius: 0.2em;
}

#debug-buttons {
  /* display: flex; */
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  width: 100%;
}

#search-indicator,
#view-indicator,
#add-indicator,
#edit-indicator {
  font-size: 1em;
  border: 1px solid #00243f;
  border-radius: 50%;
}
#mode-indicators {
  /* display: flex; */
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0.25em auto 0.25em auto;
  width: 60%;
}
.eyes-icon {
  font-size: 1.3em;
  color: #00243f;
  background-color: #a3acb1;
  font-weight: 700;
}

#mode-icon-search,
#mode-icon-view,
#mode-icon-edit,
#mode-icon-create {
  color: #00243f;
  background-color: #a3acb1;
  border: 1px solid #00243f;
  border-radius: 0.3em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  padding: 0;
}
p {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: fit-content;
}
#clipboard {
  width: fit-content ;
  border: 1px solid #180b44;
  background-color: #00243f;
  border-radius: 0.2em;
  color: white;
  font-size: 0.5em;
  opacity: 1;
  outline: 1px solid transparent ;
  /*  */
  position: absolute;
  left: 40%;
  top: 0;
}
#cancel-changes,
#save-new-or-edited,
#delete-credential {
  /* */
  display: block;
  background-color: #a3acb1;
  border: 1px solid #325c2e;
  border-radius: 0.3em;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.25em 0.25em;
  padding: 0.5;
}
#cancel-changes {
  color: #00243f;
  font-size: 1.6em;
}
#save-new-or-edited {
  color: #015e01;
}

#edit-toolbar {
  /*  outline: 2px solid red; */

  width: 100vmin;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  height: 3em;
}
#delete-credential {
  color: red;
  /* margin-right: 2.75em; */
}
#save-new-or-edited {
  margin-right: 1.5em;
}
.designator {
  display: block;
  width: fit-content;
  text-transform: uppercase;
  font-size: 0.7em;
  margin-top: auto;
  margin-bottom: 0;
}
#name,
#website,
#email,
#username,
#password,
#pin,
#recovery-email,
#secret-image,
#question0,
#question1,
#question2,
#question3,
#question4,
#question5,
#question6,
#question7,
#question8,
#question9,
#answer0,
#answer1,
#answer2,
#answer3,
#answer4,
#answer5,
#answer6,
#answer7,
#answer8,
#answer9 {
  /* */
  background-color: #26394d;
  color: #a3acb1;
  display: block;
  font-size: 0.75em;
  font-weight: normal;
  width: fit-content;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 0;
}
#view-name,
#view-website,
#view-email,
#view-username,
#view-password,
#view-pin,
#view-recovery-email,
#view-secret-image,
#view-question0,
#view-question1,
#view-question2,
#view-question3,
#view-question4,
#view-question5,
#view-question6,
#view-question7,
#view-question8,
#view-question9,
#view-answer0,
#view-answer1,
#view-answer2,
#view-answer3,
#view-answer4,
#view-answer5,
#view-answer6,
#view-answer7,
#view-answer8,
#view-answer9 {
  /*width: fit-content; */
  background-color: #26394d;
  color: #a3acb1;
  display: block;
  font-size: 0.75em;
  font-weight: normal;

  margin-top: auto;
  margin-left: auto;
  margin-bottom: 0;
}
/*
.a-boxbox-icon
*/
a-boxbox-button {
  font-size: 1.5em;
  color: #00243f;
  background-color: #a3acb1;
}
